
// colors

$main-text: #31353d; // main text
$link: #435779; // anchor tags
$background: #eeeff7; // background color
$header-bg: #31353d;

$border: #e0e6ef;
$light-text: #a5aebc;
$green: #7dcf85;

$shadow-layer-bg: rgba($color-1, .5);

// fonts

$primary-font: 'PT Sans', sans-serif;

// z-index

$header-zindex: 4;
$sidebar-zindex: 3;
$shadow-zindex: 2;
$main-zindex: 1;

// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}


.cd-img-replace { /* replace text with a background-image */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}


#main-nav, #cd-cart {
	position: fixed;
	top: 0;
	height: 100%;
	width: 260px;

	/* header height */
	// padding-top: 50px;
  padding-top: 120px;

	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	box-shadow: 0 0 20px rgba(#000, .2);

	z-index: $sidebar-zindex;

	@include MQ(M) {
		width: 350px;
	}

	@include MQ(L) {
		width: 30%;

		/* header height has changed */
		// padding-top: 80px;
    padding-top: 160px;
	}
}

#cd-cart {
	right: -100%;
	background: #FFF;

	@include transition(right .3s);

	&.speed-in {
		right: 0;
	}

	> * {
		padding: 0 1em;
	}

	h2 {
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 1em 0;
	}

	.cd-cart-items {
		padding: 0;

		li {
			position: relative;
			padding: 0.3em 1em;
			border-top: 1px solid $border;

			&:last-child {
				border-bottom: 1px solid $border;
			}
		}
	}

	.cd-qty, .cd-price {
		color: $light-text;
	}

	.cd-price {
		margin-top: .4em;
	}

	.cd-item-remove {
		position: absolute;
		right: 1em;
		@include center(y); // see mixin inside partials > _mixins.scss
		width: 32px;
		height: 32px;
		border-radius: 50%;
    background: url('../img/cd-remove-item.svg') no-repeat center center;

		.no-touch &:hover {
			background-color: $border;
		}
	}

	.cd-cart-total {
		padding-top: .5rem;
		padding-bottom: .5rem;

		span {
			float: right;
		}

    p {
  		margin: .3rem;
      font-size: 1.6rem;
      font-family: "PT Sans", sans-serif;
    }

		&::after { /* clearfix */
			content: '';
			display: table;
			clear: both;
		}
	}

	.checkout-btn {
		display: block;
		width: 100%;
		height: 60px;
		line-height: 60px;
		background: $green;
		color: #FFF;
		text-align: center;
    border: 0;

		.no-touch &:hover {
			background: lighten($green, 10%);
		}
	}

  button.checkout-btn:disabled {
    background: lighten($green, 10%);
  }

	.cd-go-to-cart {
		text-align: center;
		margin: 1rem;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;

		a {
			text-decoration: underline;
		}
	}

	@include MQ(L) {
		> * {
			padding: 0 2em;
		}

		.cd-cart-items li {
			padding: 1em 2em;
		}

		.cd-item-remove {
			right: 2em;
		}
	}
}

#cd-shadow-layer {
	position: fixed;
	min-height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: $shadow-layer-bg;
	cursor: pointer;

	z-index: $shadow-zindex;

	display: none;

	&.is-visible {
		display: block;
		@include animation(cd-fade-in .3s);
	}
}

.cart-select.Select {
  width: 50%;
  position: absolute;
  top: 10%;
  right: 5%;
}

/* --------------------------------

xkeyframes

-------------------------------- */

@include keyframes(cd-fade-in) {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
