form {
  //  max-width: 600px;
  //  text-align: center;
   margin: 20px 0;

  input, textarea {
     border:0; outline:0;
     padding: 1em;
     @include border-radius(8px);
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Roboto', sans-serif;
     box-shadow: 0 1px 1px rgba(black, 0.1);
     resize: none;

    &:focus {
       box-shadow: 0 0px 2px rgba($color-1, 1)!important;
    }
  }

  #input-submit {
     color: white;
     background: $color-1;
     cursor: pointer;

    &:hover {
       box-shadow: 0 1px 1px 1px rgba(#aaa, 0.6);
    }
  }

  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%;
}


@media (max-width: 480px) {
  .half {
     width: 100%;
     float: none;
     margin-bottom: 0;
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
