// colors

// $color-1: #25283D; // YANKEES BLUE
// $color-2: #8F3985; // PLUM
// $color-3: #ffffff; // WHITE
// $color-4: #ECF0F1; // ANTI-FLASH WHITE

$color-1: #005b63; // + Azul
$color-2: #00a6a6; // Azul
$color-3: #ffffff; // Blanco
$color-4: #ECF0F1; // Fondo claro

// fonts

$primary-font: 'Hind', sans-serif;
$secondary-font: 'Roboto', serif;

// header size

$header-height-small: 60px;
$header-height: 80px;

$secondary-nav-height-small: 50px;
$secondary-nav-height: 70px;
